body {
    width: 50%;
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
}

.box {
    width: 75%;
}

.box div {
    padding: 2px;
}

.box div:nth-of-type(odd) {
    background: #d6d6d66e;
}

.container {
    margin-top: 20px;
}

.container span input {
    float: right;
}
